{% include 'especie/base.html' %}

{% block body %}
    <div class="container" role="main">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box">
                <div class="box-icon">
                    <img src="{{ MEDIA_URL }}{{ especie.foto.name }}" class="img-circle" alt="No disponible"
                         height="100px" width="100px"/>
                </div>
                <div class="info">
                    <h4 class="text-center">{{ especie.id }} {{ especie.nombre_general }}</h4>
                    <div style="text-align: left">
                        <span>{{ especie.nombre_cientifico }}</span>
                        <span class="badge" style="float: right">{{ especie.categoria.nombre }}</span>
                    </div>
                    <p><span class="label label-info">{{ especie.taxonomia }}</span> {{ especie.descripcion }}</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
